@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

body {
    background-color: #1a1a1a;
    color: #e5e5e5;
}
.font-bold {
    color: green;
}

.underline {
    color: green;
}

a {
  text-decoration:underline;
}

a:hover {
    color: rgb(0, 255, 0) !important;
}
/* Write you own custom component styles here */

.btn-menu {
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-color: #46464600;
    border: solid 2px rgb(0, 255, 0);
    margin: 5px;
    text-align: center;
    font-size: xx-large;
}

.menuBtns {
    display: flex;
    justify-content: flex-start;
}

.headBorder {
    border-top: solid 1px green;
    border-bottom: solid 1px green;
}

.topLogo {
    margin-top: 15px;
    margin-bottom: 19px;
}

.topLogo img {
    width: 280px;
    height: 150px;
}

.readMore {
    margin: auto;
    text-align: center;
}

.postPreviewContainer {
    margin: 10px;
}
.hiddenLink {
    visibility:hidden;
    display:none;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
